doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title GREENSHOP
    body 
        include companents/header

        .container
            p.shop-top__link 
                a(href="./shop.html") #[span.shop-top__link__span Home] / #[a(href="./index.html") Shop]

        section.shop--hero 
            .container 
                .shop--hero--left 
                    .shop--hero--left_l
                        img(src="../assets/images/shop-hero-img1.svg", alt="rasm").shop--hero__img1
                        img(src="../assets/images/shop-hero-img1.svg", alt="rasm").shop--hero__img1.shop--hero__img2
                        img(src="../assets/images/shop-hero-img1.svg", alt="rasm").shop--hero__img1
                        img(src="../assets/images/shop-hero-img1.svg", alt="rasm").shop--hero__img1
                    .shop--hero--left_r
                        img(src="../assets/images/shop-hero__big-img.svg", alt="rasm").shop--hero__big-img
                        img(src="../assets/icon/search-icon.svg", alt="").shop--hero--left_r__search-icon
                .shop--hero--right
                    h2.shop--hero--right__h2 Barberton Daisy
                    .ins--star 
                        ins.shop-hero-r__ins $119.00
                        .star__wrap 
                            img(src="../assets/icon/star_start.svg", alt="star").star--start
                            img(src="../assets/icon/star_start.svg", alt="star").star--start
                            img(src="../assets/icon/star_start.svg", alt="star").star--start
                            img(src="../assets/icon/star_start.svg", alt="star").star--start
                            img(src="../assets/icon/star_end.svg", alt="star").star--end

                            p.ins--star__desc 19 Customer Review

                    .shop--hero-r__br

                    h4.shop--hero--right__h4_1 Short Description:

                    p.shop--hero--right__desc The ceramic cylinder planters come with a wooden stand to help elevate your plants off the ground. The ceramic cylinder planters come with a wooden stand to help elevate your plants off the ground. 

                    h4.shop--hero--right__h4_2 Size:

                    .shop--hero__size 
                        p.sizes.sizes1 S
                        p.sizes M
                        p.sizes L
                        p.sizes XL

                    .shop--hero--right__btns
                        .plus-wrap.d-flex.a-items-c
                            button.minus -
                            ins.number__ins 1
                            button.plus +                    

                        .buy--add__btns 
                            button.buy-now__btn Buy NOW
                            button.add-to-cart__btn Add to cart
                            button.like__btn #[img(src="../assets/icon/shop--hero__like-img.svg", alt="star")]

                    .categories
                        p.categories1 SKU: #[span.categories__span 1995751877966]
                        p.categories1 Categories: #[span.categories__span  Potter Plants]
                        p.categories1 Tags:#[span.categories__span  Home, Garden, Plants ]

                    .shop--hero--right__end__links 
                        p.shop--hero--right__end__links__desc Share this products:
                        .shop--hero--right__end__links--wrap 
                            a(href="#")
                                img(src="../assets/icon/Facebook (5)__shop.svg", alt="facebook").shop--hero--right__end__link 
                            a(href="#") 
                                img(src="../assets/icon/Twitter (2)__shop.svg", alt="Twitter").shop--hero--right__end__link
                            a(href="#") 
                                img(src="../assets/icon/Linkedin (2)__shop.svg", alt="Linkedin").shop--hero--right__end__link
                            a(href="#") 
                                img(src="../assets/icon/Message__shop.svg", alt="Message").shop--hero--right__end__link

                            br

        section.products__desc 
            .container 
                .products__desc--top 
                    ol.products__desc__list 
                        li.products__desc__item 
                            a(href="#") Product Description 
                        li.products__desc__item 
                            a(href="#") Reviews (19)


                        



